@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Short+Stack&family=Walter+Turncoat&display=swap');

.chatContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #203069,  #618eb9);
  font-family: 'Chilanka', cursive;
}

.chatTitle {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  padding: 15px;
}

.chatBox {
  flex-grow: 1;
  overflow-y: auto; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scroll-behavior: smooth;
  max-height: calc(100vh - 150px);
}

.chatBox::-webkit-scrollbar {
  width: 8px;
}

.chatBox::-webkit-scrollbar-thumb {
  background: #0088cc;
  border-radius: 10px;
}

.chatBox::-webkit-scrollbar-track {
  background: #2b2b3d;
}

.userMessage, .botMessage {
  padding: 12px;
  margin: 5px 0;
  border-radius: 12px;
  font-size: 0.95rem;
  line-height: 1.4;
  word-wrap: break-word;
  max-width: 70%;
  display: inline-block;
}

.userMessage {
  align-self: flex-end;
  background-color: #5a8dc8;
  color: #dedee6;
  border: 1px solid #0b81d0;
  text-align: right;
}

.botMessage {
  align-self: flex-start;
  background-color:  #2b5688;
  color: #dedee6;
  border: 1px solid #4f6d7a;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px; /* Adds space between components */
  flex-wrap: nowrap; /* Prevents wrapping of the elements */
}

.textInput {
  flex-grow: 1;
  width: 60%; /* Adjust width so it doesn't take up too much space */
  padding: 10px;
  font-size: 1rem;
  background-color: #f4f4f9;
  color: #333333;
  border: 1px solid #4a90e2;
  border-radius: 6px;
  outline: none;
  resize: none; 
  overflow: auto; 
  transition: height 0.2s ease; 
  max-height: 40em; 
  height: auto;
  font-family: "Chilanka";
}

.fileInputContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds space between file picker and send button */
  flex-grow: 0; /* Ensures the form doesn't stretch */
}

.sendButton {
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 12px 20px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #357ab8;
}


.loadingDots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingDots span {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  border-radius: 50%;
  background-color: #f9f8fa;
  animation: loading 0.6s infinite alternate;
}

.loadingDots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loadingDots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
